<!DOCTYPE html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<link href="static/css/sb-admin-2.min.css" rel="stylesheet">

<html>
	<body>
		<div class="jumbotron text-center">
			<h1>Adicionar Dívida</h1>
		</div>
		<form action="" method="post">
		{{ form.csrf_token}}
			<div class="col-md-6 col-md-offset-3">
				<div class="form-group">
					<label> Nome do Cartão </label>
					{{ form.nome(class="form-control")}}
					<label> Vencimento </label>
					{{ form.vencimento(class="form-control",type="date",value="2020-01-01")}}
					<div class="alert alert-primary" role="alert"> {{ msg }} </div>			    
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</div>
		</form>
		<form action="/" method="post">
			<button type="submit" class="btn btn-primary">Voltar</button>
		</form>
		<form action="/del_divida" method="post">
			<button type="submit" class="btn btn-primary">Deletar tudo!</button>
		</form>
		<form action="/add_card" method="post">
			<button type="submit" class="btn btn-primary">Adicionar cartão de credito</button>
		</form>
	</body>
</html>