<!DOCTYPE html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"><script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<html>
	<body>
		<div class="jumbotron text-center">
			<h1>Editar Dívida</h1>
			<p> Favor escolha a dívida que deseja editar: </p>
		</div>
		<select name="list\_status">

			{% for each in dividas %}

				<option value="{{each}}" {% if each == "dividas" %} selected {% endif %}>{{each}}</option>

			{% endfor %}

		</select>
	</body>
</html>